@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --color-schoolSky: #c3ebfa;
  --color-schoolSkyLight: #edf9fd;
  --color-schoolPurple: #cfceff;
  --color-schoolPurpleLight: #f1f0ff;
  --color-schoolYellow: #fae27c;
  --color-schoolYellowLight: #fefce8;
  --color-background: #f7f8fa;
}

@layer base {
  * {
    @apply scroll-smooth;
  }

  body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }

  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1e2238;
    background: transparent;
  }

  .recharts-responsive-container {
    height: initial !important;
  }

  .react-calendar {
    width: 100% !important;
    border: none !important;
    font-family: "Inter" sans-serif !important;
  }

  .react-calendar_navigation_label_labelText {
    font-weight: 600 !important;
  }

  .react-calendar__tile--active {
    color: #000 !important;
    background-color: #c3ebfa !important;
  }
}

@layer components {
  .center-btw {
    @apply flex items-center justify-between
  }
  .center {
    @apply flex items-center justify-center
  }
}
